mat-card-subtitle > p
        white-space: pre
        overflow: hidden
        text-overflow: ellipsis

mat-card-title
    white-space: pre

mat-card-content
    button
        max-width: 30px
        max-height: 30px

mat-card-header-text
    width: 100%

mat-card-actions
    margin-left: -16px
    margin-right: -16px

.mat-card>.mat-card-actions:last-child 
    margin-bottom: -16px

mat-card-actions > button
    width: 100%
    border-top-left-radius: 0
    border-top-right-radius: 0
.text-truncate
    width: 100%
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
