<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>
            <div>
                <a [routerLink]="['/items', item.id]">{{item.name}}</a>
            </div>
        </mat-card-title>
      <mat-card-subtitle>
          <p>
            {{item.price | currency}}
          </p>
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="!!item.imgUrl" [src]="item.imgUrl">
    <img mat-card-image *ngIf="!!!item.imgUrl" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="text-truncate">
        {{item.description}}
      </p>
    <ngb-rating [max]="5" [rate]="item.rating" [readonly]="true" ></ngb-rating>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button [routerLink]="['item', item.id]" color="primary">
        <mat-icon>
          shopping_cart
        </mat-icon>
        | {{item.remainingInStock}} items left
      </button>
    </mat-card-actions>
  </mat-card>