<mat-toolbar>
    <span [routerLink]="['']">Simplest CMS in the world</span>
    <button mat-button color="primary" (click)="toggleSideNav()" >Menu</button>
    <span class="spacer"></span>
    <div class="mr-4 mt-3">
        <app-cart></app-cart>
    </div>
    <app-auth-bar></app-auth-bar>
</mat-toolbar>