<div class="d-flex flex-column p-2">
    <button mat-flat-button class="sidenav__menu_items"> Some Link </button>
    <button mat-flat-button class="sidenav__menu_items"> Some Other Link</button>
</div>