<div class="d-flex align-items-stretch h-100" >
    <mat-sidenav-container class="sidenav">
        <mat-sidenav #sidenav mode="side" [(opened)]="sideNavOpen">
            <app-side-menu></app-side-menu>
        </mat-sidenav>
    <mat-sidenav-content>
        <div style="position: relative; overflow: hidden;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content> 
    </mat-sidenav-container>
</div>
