<div class="row">
    <div class="col-5">
        <ngb-carousel>
            <ng-template ngbSlide>
              <div>
                <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Random first slide">
              </div>
            </ng-template>
            <ng-template ngbSlide>
                <div>
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Random first slide">
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div>
                  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Random first slide">
                </div>
              </ng-template>
        </ngb-carousel>
        <img *ngIf="!!item.imgUrl" [src]="item.imgUrl">
    </div>
    <div class="col-6 d-flex flex-column" style="margin-right: 15px;">
        <div class="d-flex flex-row">
            <h3>{{item.name}}</h3>
            <span class="spacer"></span>
            <span>{{item.price | currency}}</span>
        </div>
        <ngb-rating [max]="5" [readonly]="true" [rate]="item.rating" ></ngb-rating>
        <span>
            {{item.description}}
        </span>    
        <button class="m-1" (click)="addToCart()" mat-flat-button color="primary">Add to cart</button>
    </div>
</div>