@import 'variables.sass'
.spacer
    flex: 1 1 auto

.img-xs
    width: 30px
    height: 30px
    border-radius: 50%
html, body, app-root
  height: 100%
  width: 100%

mat-toolbar
    height: $navbar-height
    width: $navbar-width

app-root > div
    height: calc(100% - #{$navbar-height})

mat-sidenav-container
    width: 100%

.mat-drawer-content, .mat-tab-body-content 
    overflow: hidden !important


.mat-tab-body.mat-tab-body-active 
    overflow-y: hidden !important


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
