.auth-bar__user-info
    display: flex
    align-items: center
    span
        font-size: 0.75rem
        margin-left: 0.5rem
        margin-right: 0.5rem
    app-login-button:
        margin-left: 0.5rem
        margin-right: 00.5rem
