<div class="row">
    <div *ngIf="isAuthenticated" class = "auth-bar__user-info">
        <img class = "img-xs" [src]="userModel.imageUrl">
        <span >{{userModel.fullName}}</span>
    </div>
    <div>
        <app-login-button *ngIf="!isAuthenticated"></app-login-button>
        <app-logout-button *ngIf="isAuthenticated" ></app-logout-button>
    </div>
</div>
